.main-tab-wrap{
  margin-top: 50px;

  .tab-list{
    text-align: left;
    .tab-item{
      display: inline-block;
      margin-right: 8px;
      .nav-link{
        font-size: 14px;
        padding: 10px 14px;
        color: #555;
        border-radius: 10px;
        border: none;
      }
      .nav-link.active{
        background-color: black;
        color: #fff;
      }
    }
  }
}