@import "./mp-blog.scss";
$mobile-max: 420px;
$tablet-max: 1023px;
$desktop-min: 1024px;

.sidebar {
  position: absolute;
  top: 0;
  right: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fafafa;
  border-right: 1px solid rgb(211, 211, 211);
  display: grid;
  grid-template-rows: 100px;
  row-gap: 1rem;
  box-shadow: hsl(360, 67%, 44%);
  transition: all 0.3s linear;
  transform: translateX(-100%);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  // z-index: 111111
}
.show-sidebar {
  transform: translateX(50px);
  width: 600px;
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 600px;
  }
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 110px;
  background: #ffffff;
  overflow: hidden;
  border: 1px solid #dbdbdb;

  h1 {
    // 현재 실시간 위치
    justify-content: center;
    margin-top: -5px;
    font-size: 30px;
    color: #4c65a7;
    font-weight: bold;
  }

  p {
    justify-content: center;
    // margin-top: 10px;
    font-size: 15px;
    color: #595959;
  }

  span {
    font-weight: 500;
  }

  .close-btn {
    position: absolute;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    color: hsl(360, 67%, 44%);
    top: 10px;
    right: 30px;
  }
  .close-btn:hover {
    color: hsl(360, 71%, 66%);
  }

  .bookmark-btn {
    position: absolute;
    font-size: 1.6rem;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    color: hsl(360, 67%, 44%);
    top: 15px;
    right: 80px;
  }
}

.detail-content {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  .detail-information {
    display: flex;
    flex-direction: column;
  }

  .report-population {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 200px;
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #dbdbdb;
    margin: 5px 0;

    // 실시간 인구
    h3 {
      font-size: 20px;
      color: #4c65a7;
      font-weight: bold;
      margin-left: 0px;
      margin-right: auto;
    }

    // 인구 혼잡도
    h2 {
      font-size: 20px;
    }

    // 여유, 보통 등 메세지
    .report-crowded {
      font-weight: 700;
      font-size: 30px;

      &.green {
        color: #3cb371; // 여유
      }
      &.yellow {
        color: #ffcb5c; //보통
      }
      &.orange {
        color: #ffa500; // 약간 붐빔
      }
      &.red {
        color: #ff0000; // 붐빔
      }
    }
    // 안내 메세지
    .report-crowded-msg {
      display: flex;
      justify-content: center;
      width: 350px;

      span {
        font-size: 18px;
        text-align: center;
      }
    }
  }

  // 날씨 메세지
  .report-live-weather h3 {
    font-size: 20px;
    color: #4c65a7;
    font-weight: bold;
    text-align: left;
  }

  .report-weather {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 580px;
    height: 300px;
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #dbdbdb;
    margin: 10px 0;

    .today-weather-wrap {
      .today-weather {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
      }
      .img {
        width: 60px;
      }
      p {
        font-size: 20px;
        line-height: 1.7;
        text-align: center;
      }
    }

    .today-weather-detail {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      .temperature-img .img {
        display: flex;
        width: 60px;
      }

      p {
        text-align: justify;
        font-size: 20px;
      }
    }
  }
}

.map-container {
  transform: translateX(400px);
}

@include mobile {
  .sidebar {
    position: relative;
    background: #fff;
    transition: all 0.4s linear;
    transform: translateY(100%);
    width: 100vw;
    // z-index: 0;
    overflow: hidden;

    .sidebar-header {
      width: 100vw;
      display: flex;
      flex-direction: column;
      p {
        position: absolute;
        left: 30%;
        top: 2%;
      }
      h1 {
        position: absolute;
        left: 19%;
        top: 7%;
      }
      button {
        font-size: 2rem;
        top: -1%;
        right: 1%;
      }
    }
    .detail-content {
      width: 100vw;
      .detail-information {
        width: inherit;
        .report-population {
          width: inherit;
          padding: 6px 15px 15px 15px;
          h3 {
            font-size: 1rem;
          }
          h2 {
            font-size: 1rem;
            font-weight: 700;
          }
          .report-crowded-msg > span {
            font-size: 1rem;
            font-weight: 700;
          }
        }
        .report-weather {
          width: inherit;
          .report-live-weather {
            h3 {
              font-size: 1rem;
            }
          }
          .today-weather-wrap {
            .today-weather {
              display: flex;
              align-items: center;
              p {
                width: 70%;
                font-size: 1rem;
                font-weight: 700;
              }
            }
          }
          .today-weather-detail {
            p {
              width: 70%;
              font-size: 1rem;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
  .sidebar.show-sidebar {
    transform: translateY(0);
  }
}
